<div class="page-header"><h1>Edit volume</h1></div>

<% form_for(volume, {action: path_to.volume(volume), method: 'PUT', id: "volume_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('volumes/form.ejs', {locals: {form: form, volume: volume}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Update volume', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.volume(volume), {class: 'btn'}) %>
    </div>
<% });%>