<div class="page-header"><h1>Welcome to Periodic</h1></div>
<div class="row">
	<div class="span12">
		<a name="top"></a>
		<ul class="breadcrumb">
			<li><a href="#about">About</a> <span class="divider">/</span></li>
			<li><a href="#gettingstarted">Getting Started</a> <span class="divider">/</span></li>
			<li><a href="#faq">FAQ & Avanced Features</a></li>
		</ul>
	</div>
	<div class="span12">
		<a name="about"></a>		

		<p class="lead">Periodic is a tool to help you aggregate, organize and back up your social updates.</p>
		<div class="row">
			<div class="span6">
				<p>This isn't rocket science, but it's super useful. By creating an account you can begin to craft your own story via the actions you already take online.</p>
				<p>Periodic let's you connect your social accounts, automatically pulls and stores your data in a normalized format (as well as preserves the original data format), you can create customized streams of your social data</p>
			</div>
			<div class="span3">
				<strong>Supported Accounts</strong>
				<ul>
					<li>Facebook</li>
					<li>Twitter</li>
					<li>Instagram</li>
					<li>Tumblr</li>
					<li>Pinterest</li>
					<li>GoodReads</li>
				</ul>
			</div>
			<div class="span3">
				<strong>Supported Accounts</strong>
				<ul>
					<li>Soundcloud</li>
					<li>Foursquare</li>
					<li>Github</li>
					<li>Meetup</li>
					<li>LinkedIn</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="span12">
		<a name="gettingstarted"></a>
		<h2>Getting Started</h2>
		<div class="alert alert-success alert-block">
			<dl>
				<dt>Register for Periodic</dt>
				<dd>If you're a brand/organization, you're going to want to create your first account with email/password, otherwise you can log in with your facebook or twitter account</dd>				
				<dt>Connecting your accounts</dt>
				<dd>Once you're logged in, connect the social accounts you want to aggregate</dd>				
				<dt>Create a Volume</dt>
				<dd>A Volume is where you can collaborate with other users to create a shared story, or a combined feed of social accounts</dd>
				<dt>Create an Issue</dt>	
				<dd>Issues are "smart lists", for example - once you've connected your accounts, and created a Volume. You can then specify the specific content you want in your issue. You can create something like "I want an issue (smart list) of my instagram pictures and foursquare checkins that have the hash tag '#nyc'</dd>
			</dl>

		</div>
		<p class="small">
			<a href="#top">Back to top</a>
		</p>
	</div>

	<div class="span12">
		<a name="faq"></a>
		<h2>FAQ & Advanced Features</h2>
		<dl>
			<dt>Why the name Periodic?</dt>
			<dd>The names comes from the concept of crafting your own narative, the project was born out of requirements for the redesign of glamour.com. We needed the ability to aggregate and manipulate our social feeds from various editors and across different channels (fashion, entertainment, etc).</dd>				
			<dt>What's a Volume?</dt>
			<dd>A Volume is simply a collection of feeds, by creating a volume, you're able to group feeds from different users under a shared name (for example for Glamour, there's a shared Volume called "Glamour" which has all of the editors and social accounts connected to in one place.</dd>				
			<dt>What's an Issue?</dt>
			<dd>An Issue is a subset of your Volume with specific criteria that generates a new feed. For example  you may have every social account available connected. But you may want to only share specific hashtags and users. For example for the glamour fashion channel, there's an Issue which is comprised of the fashion editors, their instagram and twitter stream with the hashtag '#fashion'.</dd>
			<dt>What's an Article?</dt>	
			<dd>An Article is an imported post from a social account, for example your tweet is stored and cached as an article, so that way if twitter.com is down you still have a copy of your tweet available to you.</dd>
			<dt>What about Privacy?</dt>	
			<dd>By default, every Volume is set to private, every issue is set to public, so you can safely import your feeds, and only make what you want public by create a new Issue.</dd>
			<dt>Is there an API</dt>	
			<dd>Yes, anything you designate as public can be retrieved by append .json. <a href="#">https://periodic.condenast.com/glamour/fashion.json</a></dd>
			<dd>There's also authenticated requests you can make once you're registered an application and create a user token, you can then may authenticated requests with you token. <a href="#">https://periodic.condenast.com/author/johnsmith/posts.json?token=YOURSECRETAUTHTOKEN</a></dd>
		</dl>
		<p class="small">
			<a href="#top">Back to top</a>
		</p>
	</div>
</div>