<div class="page-header"><h1>Connected Accounts</h1></div>
	<div class="row" style="text-align:center">
		<a href="/connect/facebook" class="btn btn-large <% if(user_auth.data.facebookId){%> disabled <%} else{%> btn-primary  <%} %>">facebook</a>
		<a href="/connect/twitter" class="btn btn-large <% if(user_auth.data.twitterId){%> disabled <%} else{%> btn-info  <%} %>">twitter</a>
		<a href="/connect/tumblr" class="btn btn-large <% if(user_auth.data.tumblrId){%> disabled <%} else{%>   <%} %>">tumblr</a>
		<a href="/connect/instagram" class="btn btn-large <% if(user_auth.data.instagramId){%> disabled <%} else{%>  btn-success <%} %>">instagram</a>
		<a href="/connect/soundcloud" class="btn btn-large <% if(user_auth.data.soundcloudId){%> disabled <%} else{%>  btn-warning <%} %>">soundcloud</a>
		<a href="/connect/github" class="btn btn-large <% if(user_auth.data.githubId){%> disabled <%} else{%>  btn-inverse <%} %>">github</a>
	</div>

</div>
<script>
	$('.disabled').click(function(e){
		return false;
	})
</script>