<div class="page-header"><h1>auth#login</h1></div>
<form action="/login" method="post">
    <div>
    <label>Email:</label>
    <input type="text" name="email"/><br/>
    </div><div>
    <label>Password:</label>
    <input type="password" name="password"/>
    </div><div>
    <input type="submit" value="Log In"/>
    </div>
</form>