<div class="page-header">
    <h1>New periodical</h1>
</div>

<% form_for(periodical, {action: path_to.periodicals(), method: 'POST', id: "periodical_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('periodicals/form.ejs', {locals: {form: form, periodical: periodical}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Create periodical', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.periodicals(), {class: 'btn'}) %>
    </div>
<% });%>
